* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'machina';
}

@font-face {
	font-family: 'machina';
	src: url(../public/fonts/NeueMachina-Regular.woff2) format('woff2');
}

html, body, main {
  width: 100%;
  height: 100%;
}
